# bambu_tracker_secrets.py Should look like this, but with real info:
SLACK_BOT_TOKEN = "xoxb-foo-foo-slack-token"  # Replace with your xoxb token
TARGET_CHANNEL = "#the-channel"               # Replace with your channel name/ID

#
# Dictionary to look up Access Codes by Serial Number during discovery
# (Printers do not broadcast their private access code via SSDP for safety)
PRINTER_CREDENTIALS = {
    # "Serial_Number": "LAN_Access_Code"
    "000000000000000": "11111111", # One Printer
    "000000000000001": "22222222", # Another Printer
    "000000000000003": "33333333", # Some Other Printer
    "000000000000004": "44444444"  # And Last Printer
}
